@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

h1, h6{
    margin: 0px;
    
}
.saw{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 60px; color: whitesmoke;
    display: inline;
    position: absolute;
    left: 250px; bottom: 310px;
}
.bg{
    background-image: url('ai3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; width: 100vw;
    margin: 0px;
}

span{
    font-size:50px; cursor:pointer; color: white;
    position: absolute; top: 10px; left:10px;

}

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0px;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: white;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }