@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    margin: 0px;
}

.bg{
  background-color: #4286f4;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; width: 100vw;
  margin: 0px;
}

.webcam-form{
    width: 100px; height: 200px; border: 0;
    border-radius: 5px; 
    background-color: #3b3b3b;
    padding: 40px;
    position: absolute; top: 10%; left: 5%; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(179, 215, 252);
  padding: 8px 12px;
}

.navbar_logo i {
  color: darkorange;
  padding-left: 0;
}

/* 
li{
  float:left;
}

ul{
	list-style-type:none;
	margin: 0; padding: 0;
}

li a{
	  background-color: #39f;
    text-decoration: none;
    font-weight: bold; color: white;
    display: block; text-align: center;
    padding: 10px 50px;
}

li b{
  background-color: white;
  color: black; display: block;
  text-align: center; padding: 10px 50px;
}

li a:hover{
	background-color:#33f;
	color: white; */
}