@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    margin: 0;
    /* background-color: #008CBF; */
}

.bg{
    background: #004870;
    background: -webkit-linear-gradient(to top, #4286f4, #004870);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4286f4, #004870); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; width: 100vw;
    margin: 0px;

}

.signup-form{
    width: 450px; border: 0;
    /* form 모서리 부분을 완만하게 만들어줌  */
    border-radius: 5px; 
    background-color: #d4d5d6;
    padding: 40px;
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); 
}

.text-field{
    font-size: 20px; border: none; 
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px; width: 100%;

}

.submit-btn{
    color: white;
    font-size: 20px;
    background-color: #004e92;
    margin-bottom: 25px;
    border:none; border-radius: 5px;
    padding: 15px; width: 100%;
}

.links{
    text-align: center;
}

.links a{
    font-size: 18px;
    color: #696969;
}

#aa{
    margin-bottom: 30px;
    text-align: center;
}

.navbar {
    display: flex; position: absolute;
    width:100vw; align-items: center;
    background-color: #011B3E;
  }
  
  img{
    width: auto; height: auto;
    max-width: 200px; max-height: 200px;
  }
  
  i{
    padding-left: 50px; padding-right: 900px;
  }
  
  a{
    text-decoration: none;
    color : white; font-size: 20px;
    padding: 20px 60px;
  }
  
  .navbar_menu{
    list-style: none;
    display: flex; margin:0; padding-left: 0;
  }
  
  .navbar_menu li{
    padding-top: 20px; padding-bottom: 20px;
  }
  
  .navbar_menu li a:hover{
      background-color:#f64f59;
      color: white;
  }