<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>로그인</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
    </head>
    <body>
        <div class="login-form">
            <h1 id="aa">Login</h1>
            <form method="post">
                {{ form.csrf_token }}
                {% include "form_errors.html" %}
                <input type="text" name="username" class="text-field" placeholder="아이디">
                <input type="password" name="password" class="text-field" placeholder="비밀번호">
                <input type="submit" class="submit-btn" value="로그인">
            </form>
            <div class="links">
                <a href="{{ url_for('auth.signup') }}">회원이 아니신가요? <strong>회원가입하기</strong></a>
            </div>
        </div>
        <nav class="navbar">
            <div class="navbar_logo">
                <i><img src="{{ url_for('static', filename='logo2.png') }}"></i>
            </div>
            <ul class="navbar_menu">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{{ url_for('auth.model') }}">Services</a></li>
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            </ul>
        </nav>
        <div class="bg"></div>
    </body>
</html>