<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>서비스 화면</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./_css/service_style.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='./_css/service_style.css') }}"> -->

    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__logo">
                <a  href="{{ url_for('main.index') }}"> 
                    <i><img src="{{ url_for('static', filename='./_images/logo2.png') }}"></i>
                </a>
            </div>
            <ul class="navbar__menu">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('about.index') }}">About</a></li>
                <li><a href="{{ url_for('model.service') }}">Services</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            </ul>
        </nav>
        
        <nav class = 'mothergrid'>
            <div class= 'grid1'>
                <video id="myVideo"></video>
                <center>
                    <table>
                        <tr>
                            <th><input type=button value="Camera On" onclick="{getVideo()}" ></th>
                            <th></th><th></th><th></th><th></th><th></th><th></th>
                            <th><input type=button value="Capture" onclick="{takeSnapshot()}"></th>
                        </tr>
                    </table>
                </center>
            </div>

            <div class= 'grid2'>
                <canvas id="myCanvas"></canvas>
                <form method="POST">
                <input type="submit" name='btn' value="Text Extraction" onclick="{saveImg()}">
                </form>      
            </div>

            <div class = 'grid3'>
                    <!-- <img id="myImage"> -->
                    <script src="{{url_for('static', filename='./_js/webcam.js')}}"></script>          
                    <!-- <div class="bg"></div> -->
                        <center>
                            {% if text %}
                                <form method="post">
                                    <textarea name = 'textarea' wrap = "virtual">{{ text }}</textarea>
                                    <input type='submit' name='btn' value = 'TTS Start'>
                                </form>
                            {% endif %}
                        </center>
                    {% if voice %}
                    <audio autoplay controls>
                        <source src="{{ url_for('static', filename='test_Voice.mp3')}}" type="audio/mp3">
                        
                    </audio>
                {% endif %}
            </div>
        </nav>
        
    </body>
</html>