<!DOCTYPE html>
<html>
    <head>
        <meta charest="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <title>메인</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./_css/main_style.css') }}">
    </head>

    <body>
        <!-- 네비게이션 bar -->
        <div id="mySidenav" class="sidenav">
            <!-- 네비게이션 close -->
            <!-- a 태그에 onclick 사용하기 / javascript의 이벤트 핸들러, page 이동없이 사용가능-->
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            
            <!-- main_views.py index() 함수 사용 -->
            <!-- Home 버튼 구현 -->
            <a href="{{ url_for('main.index') }}">Home</a>
    <!-- 미구현 -->
            <a href="#">About</a>

            <!-- g.user 확인이 되면 -->
            <!-- auth_views.py model(), logout() 함수 사용 -->
            {% if g.user %}
                <a href="{{ url_for('auth.model') }}">Services</a>
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <a>{{ g.user.nickname }} 님 환영합니다.</a>

            <!-- login x 상태 -->
            {% else %}
                <a href="{{ url_for('auth.login') }}">Services</a>
                <a href="{{ url_for('auth.login') }}">Login</a>
                <a href="{{ url_for('auth.signup') }}">Sign Up</a>
            
            {% endif %}
        </div>

        <!-- 네비게이션 open-->
        <span onclick="openNav()">&#9776; </span>

        <div class="saw">
            <h1>ITT + TTS</h1>
            <h6>음성 변환 기술을 사용해보세요</h6>
        </div>

        <!-- background -->
        <div class="bg"></div>

        <script src="{{url_for('static', filename='./_js/navigation.js')}}"></script>
    
    </body>
</html>